:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --custom-green: #5a8c35;
  --custom-dark-blue: #11456f;
  --custom-dark-purple: #45157e;
  --custom-mid-purple: #941488;
  --custom-lavender: #bf97e2;
  --custom-periwinkle: #7a80ef;
  --custom-pink: #f95fa4;
  --custom-red: #ff1654;
  --custom-orange: #ff861d;
  --custom-yellow: #ffcb4d;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
